<p>
  {% assign hello = "world" %}

  l\nhello {{ product.title |replace: "ok", "OK" }} k
  The price with 5€ more is {{ product.price | plus: 5 }}
  {{ 'my.super.translation' | t: x: 1, y: 2
    | replace: "x", "y" }}

    {% assign hello = "world" | replace: "orld", product.title | upcase%}

    the result is: {{ hello }} / {{ hello | downcase}}
    {{ "hello world" | replace: "hello", "goodbye" }}
</p>